name: Deployment

on: [push]

jobs:
  build-and-deploy:
    name: Build and deploy
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      deployments: write
      pull-requests: write
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20.9"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-duration-seconds: 900

  end-to-end:
    name: Playwright E2E Tests
    timeout-minutes: 60
    runs-on: ubuntu-latest
    needs: ["build-and-deploy"]

    steps:
      - name: Check out repository code
        if: github.ref == 'refs/heads/main'
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        if: github.ref == 'refs/heads/main'
        with:
          node-version: "20.9"
          cache: "npm"

      - name: Install dependencies
        if: github.ref == 'refs/heads/main'
        run: npm ci

      - name: Install Playwright Browsers
        if: github.ref == 'refs/heads/main'
        run: npm run setup

      - name: Run Playwright tests
        if: github.ref == 'refs/heads/main'
        run: npm run test:e2e

      - name: Zip Reports and Results
        if: always() && github.ref == 'refs/heads/main'
        run: zip -r ${{ github.run_id }}.zip playwright-report/ test-results/

      - name: Upload Playwright Report to S3
        if: always() && github.ref == 'refs/heads/main'
        run: |
          export AWS_CLI_LOG_LEVEL=debug
          aws s3 cp ${{ github.run_id }}.zip s3://${{ secrets.AWS_S3_BUCKET }}/playwright-reports/

      - name: Generate S3 Report URL
        if: always() && github.ref == 'refs/heads/main'
        id: generate-playwright-s3-url
        run: |
          PLAYWRIGHT_REPORT_URL=$(aws s3 presign s3://${{ secrets.AWS_S3_BUCKET }}/playwright-reports/${{ github.run_id }}.zip)
          echo "PLAYWRIGHT_REPORT_URL=$PLAYWRIGHT_REPORT_URL" >> $GITHUB_ENV

      - uses: actions/upload-artifact@v3
        if: always() && github.ref == 'refs/heads/main'
        with:
          name: playwright-report-${{ github.run_id }}
          path: |
            playwright-report/
            test-results/
          retention-days: 30

      - name: Report Status
        if: always() && github.ref == 'refs/heads/main'
        run: echo $PLAYWRIGHT_REPORT_URL
